<!--users/_form; variables used = pw_label, button_name-->
<%= form_for @user do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :login %><br/>
		<%= f.text_field :login %>
	</p>
	<p>
		<%= f.label :password, pw_label %><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>
	</p>
  <%= f.submit button_name %>
<% end %>