<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>JD Media</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'my_styles' %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>  
  <!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->
	<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body style="background:black">

<div class="container">
  <%= render :partial => 'layouts/header' %>  
  <div id="flashes">
		<% names = [:notice, :error, :warning, :message, :success] %>
		<% for name in names %>
			<% if flash[name] %>
				<%= "<div id=\"#{name}\" class=\"#{name}\">#{flash[name]}</div>" %>
			<% end %>
		<% end %>
	</div>
  <%= yield %>
  
  <%= render :partial => 'layouts/footer' %>
</div>

</body>
</html>
